@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: radial-gradient(
            circle at 20% 100%,
            rgb(0, 0, 0, 0.1) 33%,
            rgba(207, 250, 254, 0.1) 33%,
            rgba(165, 243, 252, 0.1) 33%,
            rgba(103, 232, 249, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 99%
          ),
          linear-gradient(40deg, #22D3EE, #67E8F9, #A5F3FC, #CFFAFE);
        color: #000;
    }
    .dark body {
        background-image: radial-gradient(
            circle at 20% 100%,
            rgba(184, 184, 184, 0.1) 0%,
            rgba(184, 184, 184, 0.1) 33%,
            rgba(96, 96, 96, 0.1) 33%,
            rgba(96, 96, 96, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 66%,
            rgba(7, 7, 7, 0.1) 99%
          ),
          linear-gradient(40deg, #040a22, #162561, #202e64, #6f7aa6);
        color: #fff;
    }
    .bg-nav {
        background-color: #ecfeff;
    }
    .dark .bg-nav {
        background-color: #181a27;
    }
    .logo {
        width: 1.2rem;
        height: 1.2rem;
    }
    .hamburger-line {
        @apply h-1 w-6 my-1 rounded-full bg-black transition ease transform duration-300
    }
    .nav-link.active {
        background-color: rgb(55 65 81 / 1);
        color: #fff;
    }
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background-color: #040a22;
        background-image: url(./Assets/pre.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #preloader-none {
        opacity: 0;
    }
    
    #no-scroll {
    overflow: hidden;
    height: 100vh;
    }
}
